<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Phispr - Phantom whispers</title>
    <meta name="description"
        content="Phispr is an ephemeral chat app for phantom whispers. Anonymous, throwaway rooms where conversations vanish without a trace.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title"
        content="Step into Phispr: anonymous, temporary chat rooms where every whisper fades into nothingness." />
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <section class="main">
        <h1>Phispr</h1>
        <section class="container small">
            <h3>Live rooms <span id="live-rooms-count">{{.LiveRooms}}/{{.TotalRooms}}</span>
            </h3>
            <ol id="public-chat-rooms">
                {{if not .Rooms}}
                <li style="list-style:none">No public chat rooms available</li>
                {{end}}

                {{range .Rooms}}
                <li class="room">
                    <a href="/rooms/{{.ID}}" class="room-link">
                        {{if .Phantom}}<span class="phantom" title="phantom channel">☠</span>{{end}}
                        <span class="room-name">{{.Name}}</span>
                        <span class="room-members-count">({{len .Members}} / {{.Capacity}})</span>
                    </a>
                </li>
                {{end}}
            </ol>

            <h3>New room</h3>
            <section id="new-room">
                <form action="/rooms" method="POST">
                    <ul class="nolist">
                        <li class="flex-container">
                            <label for="room-name">Name</label>
                            <input type="text" name="name" id="room-name" placeholder="cosmos" maxlength="512" />
                        </li>
                        <li class="flex-container">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" placeholder="maakri" maxlength="256" />
                        </li>
                        <li style="text-align: right;">
                            <input type="checkbox" name="phantom" id="phantom" value="true" checked />
                            <label for="phantom" title="enable phantom mode">☠</label>
                        </li>
                        <li>
                            <button type="submit">Create & Join</button>
                        </li>
                    </ul>
                </form>
            </section>
        </section>
        <footer class="note">
            <h3>Phispr - Phantom Whispers</h3>
            <p>
                Phispr is where whispers live briefly, then vanish into the void. No logins, no history, just fleeting
                conversations that disappear like phantoms. By default rooms are created with phantom mode
                (<span class="phantom" style="font-size: 1.5em; line-height: 1em;">☠</span>) enabled.
                <a href="https://github.com/bnkamalesh/phispr">Github</a>
            </p>
        </footer>
    </section>
</body>

</html>