<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Phispr - {{if .Phantom}}☠{{end}} {{.RoomName}}</title>
    <meta name="description"
        content="Phispr is an ephemeral chat app for phantom whispers. Anonymous, throwaway rooms where conversations vanish without a trace.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title"
        content="Step into Phispr: anonymous, temporary chat rooms where every whisper fades into nothingness." />
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <section class="main">
        <h1>
            <span id="room-name" title="{{.RoomName}}">
                {{if .Phantom}}<span class="phantom" title="phantom channel">☠</span>{{end}}
                {{.RoomName}}
            </span>

            <div class="sub-header">
                <span id="sse-status" title="establishing SSE for live messages"></span>
                <br />
                <span id="live-viewers" style="font-size:0.4em; line-height: 1em;"
                    title="{{.Live}} user(s) are viewing this room">{{.Live}}</span>
            </div>
        </h1>
        <div style="margin-bottom: 1em;" class="joinform-container flex-container">
            {{if not .Requestor}}
            <form id="joinform" action="/rooms/{{.RoomID}}" method="POST">
                <ul class="nolist">
                    <li class="flex-container">
                        <label for="username">
                            Username&nbsp;
                            <input type="text" name="username" id="username" placeholder="maakri" maxlength="256" />
                        </label>

                        <button type="submit">Join</button>
                    </li>
                </ul>
            </form>
            {{end}}
        </div>
        <section class="flex-container">
            <section id="messages" style="{{if not .Requestor}}width: 100%{{end}}">
                <ul id="messages-list" class="nolist">
                    <li class="init" style="{{if .Messages}}display: none;{{end}}">No messages ...</li>
                    {{range .Messages}}
                    <li class="msg">
                        <!-- Golang template, access variable Requestor which is in the root -->
                        <span class="author {{if eq .Author.Name $.Requestor}}you{{end}}">{{.Author.Name}}</span>
                        <span class="datetime" data-datetime="{{ .ServerReceivedAt.UTC }}"></span>
                        <p>{{.Content}}</p>
                    </li>
                    {{end}}
                </ul>
            </section>
            {{if .Requestor}}
            <section id="members">
                <h4>Members</h4>
                <ol id="members-list">
                    {{range .Members}}
                    <li><span class="author {{if eq .User.Name $.Requestor}}you{{end}}"
                            title="{{.User.Name}}">{{.User.Name}}</span></li>
                    {{end}}
                </ol>
            </section>
            {{end}}
        </section>

        <section style="{{if not .Requestor }}display: none;{{end}}">
            <form id="message-form" action="/rooms/{{.RoomID}}/messages" method="POST">
                <textarea name="message" id="message" placeholder="Type your message here..."
                    maxlength="2048"></textarea>
                <button type="submit">
                    Send
                    <span id="loading">
                        <svg width="100%" height="100%" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="25" cy="25" r="20" fill="none" stroke="#f6ae06" stroke-width="4"
                                stroke-linecap="round" stroke-dasharray="31.416" stroke-dashoffset="31.416"
                                opacity="0.3">
                            </circle>

                            <circle cx="25" cy="25" r="20" fill="none" stroke="#f6ae06" stroke-width="4"
                                stroke-linecap="round" stroke-dasharray="31.416" stroke-dashoffset="7.854">
                                <animateTransform attributeName="transform" attributeType="XML" type="rotate"
                                    from="0 25 25" to="360 25 25" dur="1s" repeatCount="indefinite" />
                            </circle>
                        </svg>
                    </span>
                </button>
            </form>
        </section>
        <footer>
            {{if .Phantom }}
            <p class="critical">Note: Any message sent by other members, when you're disconnected are lost forever.</p>
            {{end}}
            <a href="/">Home</a>
        </footer>
    </section>
    <script src="/static/js/room.js"></script>
</body>

</html>