* {
  transition: color 0.25s, margin 0.25s, padding 0.25s, width 0.25s,
    height 0.25s, background-color 0.25s, scroll 0.25s;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  background: #efefef;
  color: #444;
}
p {
  margin: 0 0 1em;
}

ol {
  padding: 1em 1em 1em 2em;
  margin: 0 auto 2em;
  border: 1px solid #ddd;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em 0;
  padding: 0;
}

h1 {
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #ddd;
}

section.main {
  background: #fff;
  width: 90%;
  max-width: 1280px;
  margin: 5vh auto 1vh;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

section.container.small {
  margin: 0 auto;
  max-width: 512px;
}

td {
  padding: 0 1em 1em 0;
}

input {
  border: 1px solid #ddd;
  padding: 0.25em 0.5em;
}

#new-room {
  margin: 2em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
}

#messages {
  padding: 1em 2em;
  margin: 0 0 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 50vh;
  min-height: 180px;
  overflow: auto;
}

#members {
  max-width: 20em;
  padding: 1em 2em;
  margin: 0 0 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 50vh;
  min-height: 180px;
  overflow: auto;
}

#members-list {
  border: none;
}

#members-list li span {
  width: 100%;
  height: 1.5em;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
}

textarea {
  width: 100%;
  height: 64px;
  margin: 0 0 1em 0;
}

footer {
  font-size: 0.8em;
  text-align: center;
  position: bottom;
  left: 0;
  bottom: 0;
  right: 0;
}

footer.note {
  font-size: 1em;
  max-width: 512px;
  padding: 1em 1.5em;
  background-color: #eee;
  margin: auto;
  text-align: left;
  border-radius: 8px;
}

.nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nolist li {
  padding: 0.25em 0.5em;
}

#public-chat-rooms li:nth-child(even),
ol li:nth-child(even) {
  background: #eee;
}

#live-rooms-count {
  display: block;
  font-size: 0.6em;
  float: right;
  font-weight: normal;
  color: #999;
}

#public-chat-rooms {
  max-height: 50vh;
  overflow: auto;
}
#public-chat-rooms .room-link {
  display: block;
  border-bottom: 1px solid #ddd;
}

#public-chat-rooms li:last-child .room-link {
  border-bottom: none;
}

#public-chat-rooms .room {
  padding: 0.5em 0.75em;
}

#public-chat-rooms .room:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#clear-messages {
  float: right;
}
.room-members-count {
  font-size: 0.75em;
  float: right;
}

.sub-header {
  font-size: 0.75em;
  color: #f6ae06;
  float: right;
  margin-right: 1em;
}

.sub-header .author {
  display: block;
  text-align: center;
  font-size: 0.75em;
  margin-top: 0.25em;
  max-width: 12em;
  height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
}
h1 .members {
  color: #999;
  font-size: 0.35em;
}

span#sse-status.active {
  color: #7adaa5;
}
span#sse-status.inactive,
.error-message,
.critical {
  color: #d92c54;
}

#messages .author,
#messages .datetime {
  display: inline-block;
  margin: 0 0.5em 0 0;
  font-size: 0.8em;
  border-bottom: 1px dashed #aaa;
}

#messages .author {
  font-weight: bold;
}
.author.you {
  color: #f6ae06;
}

#messages p {
  margin: 0.25em 0 0.5em 0;
  padding: 0 0 0 0.25em;
}

span#room-name {
  max-width: 75%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
  height: 1em;
}

#joinform button {
  max-width: 5em;
}

.joinform-container.flex-container > form {
  max-width: 26em;
}

.phantom {
  cursor: default;
  color: #f6ae06;
}

.phantom {
  font-size: 1.25em;
  font-weight: bold;
}

button {
  border: 1px solid #ddd;
  padding: 0.5em 0.75em;
  cursor: pointer;
  border-radius: 4px;
  max-height: 2.5em;
}

button:hover {
  background: #aaa;
  color: #fff;
}
button:active {
  background: #888;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-container > * {
  flex: 1;
}

@media screen and (max-width: 420px) {
  .flex-container {
    flex-direction: column; /* stack items vertically */
  }
  .flex-container > * {
    margin-bottom: 0.5em;
  }
  #sse-status {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 520px) {
  #sse-status {
    font-size: 0.5em;
  }
}
