@import url("/static/css/normalize.min.css");
@import url("/static/css/themes.css");

* {
  transition: background-color 0.25s, color 0.25s, width 0.25s, height 0.25s,
    scroll 0.25s, opacity 0.25s, top 0.25s, transform 0.25s;
  box-sizing: border-box;
  z-index: 1;
}

body {
  background: var(--main-bg);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  color: var(--text-normal);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-weight: 600;
  color: var(--text-titles);
  letter-spacing: 0.05em;
}
h1 {
  letter-spacing: unset;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--anchor);
  &:hover {
    color: var(--text-dark);
  }
}

p {
  margin: 0 0 1em;
}

main,
.small,
.note,
input[type="text"],
textarea,
button {
  border-radius: var(--border-radius);
}

main {
  background: #fff;
  max-width: 70em;
  margin: 1vh auto 0;
  padding: 1em 1.5em;
  border: 1px solid var(--border);
}

main.room {
  margin: 0 auto;
  padding: 0;
}

input[type="text"],
textarea {
  padding: 0.5em 1em;
  border: 1px solid var(--border);
}

li {
  margin-bottom: 0.5em;
}
li:last-child {
  margin-bottom: 0;
}

button,
.button {
  border: none;
  cursor: pointer;
  color: var(--theme-text);
  padding: 0.75em 1.25em;
  background-color: var(--theme-hex);
  text-align: center;
}
button:hover,
.button:hover {
  background-color: var(--theme-dark);
}

.sub-header .ico:active,
button:active,
.button:active {
  transform: scale(0.9);
}

footer.small {
  margin-top: 2em;
}

.github {
  display: inline-block;
  margin: 0 auto;
  width: 2.5em;
  height: 2.5em;
  background: var(--url-github) no-repeat center center;
  background-size: contain;
  opacity: 0.75;
}

.github:hover {
  opacity: 1;
}

header {
  border-bottom: 1px solid var(--border);
}

.room header {
  padding: 1em 1.5em;
}

.room header h1 {
  margin-bottom: 0;
}

.sub-header {
  float: right;
  margin-top: 0.25em;
}
.sub-header .ico {
  font-size: 0.75em;
  opacity: 0.6;
}

.sub-header .ico:hover {
  opacity: 1;
  box-shadow: 0 0 3px var(--theme-hex);
}

.sub-header .leave {
  background-image: var(--url-leave);
  cursor: pointer;
}

.sub-header .refresher {
  background-color: unset;
  background-image: var(--url-refresh);
  cursor: pointer;
  padding: 0;
}

.sub-header .home {
  background-image: var(--url-home);
  cursor: pointer;
}

.tagline {
  font-weight: 400;
  font-size: 0.35em;
  display: block;
  color: var(--text-light);
  margin-left: 0.5em;
}

.ico {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 1.25em;
  width: 1em;
  height: 1em;
}

.phantom {
  background-image: var(--url-logo);
}

.phantom.active {
  background-image: var(--url-logo-active);
}

.pwa {
  background-image: var(--url-pwa);
  cursor: pointer;
}

.small {
  max-width: 560px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  gap: 0.5em;
}

.flex-container > * {
  flex: 1;
  align-content: center;
}

.nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box {
  padding: 1em 1.5em;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 2px var(--border);
}

.note {
  background-color: #f0f0f0;
  padding: 1em 1.5em;
}

body.home {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
}
body.home main {
  flex: 1;
  margin: 0;
}
.home .note {
  margin-bottom: 2em;
}
.home header {
  margin-bottom: 1em;
}

.warning {
  background-color: var(--theme-light);
  border-bottom: 1px solid var(--border-warning);
  padding: 0.75em 1em;

  font-size: 0.8em;
  text-align: center;
  color: var(--text-warning);
}

.only-pwa {
  display: none;
}

.chat-rooms-list {
  padding: 0.25em 1.5em 0.25em 2em;
  max-height: 15em;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 0 2em;
}

.chat-rooms-list a {
  display: block;
  color: var(--text-dark);
  padding: 0.5em 0.75em;
  border-bottom: 1px dashed var(--border);
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-rooms-list a:hover {
  background-color: var(--main-bg);
  color: var(--theme-hex);
}
.chat-rooms-list li {
  margin-bottom: 0;
}

.chat-rooms-list li:first-child {
  margin-top: 0.75em;
}
.chat-rooms-list li:last-child {
  margin-bottom: 0.75em;
}

.chat-rooms-list li:last-child a {
  border-bottom: none;
}
.chat-rooms-list .phantom {
  font-size: 0.75em;
  vertical-align: top;
}

.room-members-count {
  color: var(--text-light);
  font-size: 0.6em;
  list-style: 1;
  float: right;
}

#notification {
  background-color: var(--theme-light);
  border-bottom: 1px solid var(--theme-hex);
  padding: 0.25em 1em;

  font-size: 0.8em;
  text-align: center;
  color: var(--theme-light-text);

  position: fixed;
  top: -4em;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

#notification a {
  text-decoration: underline;
  color: var(--theme-light-text);
}

#new-room .phantom {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.25em;
  opacity: 0;
  float: left;
}

#phantom:checked ~ .phantom {
  opacity: 1;
}

#unlisted:checked ~ .phantom {
  background-image: var(--url-logo-active);
}

#live-rooms-count {
  font-size: 0.65em;
  font-weight: 400;
  color: var(--text-light);
  float: right;
}

span#room-name {
  display: block;
  max-width: 50%;
  overflow: hidden;
  height: 1.5em;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.room.flex-container {
  height: 60vh;
  gap: 0;
}

.room.flex-container > * {
  align-content: first baseline;
}

#members,
#messages {
  border-bottom: 0.5px solid var(--border);
  padding: 1em 1.5em;
  height: 100%;
  overflow: auto;
}

.msg p {
  font-size: 0.95em;
  line-height: 1.6;
}
.msg .author {
  font-size: 0.8em;
}
.msg {
  border-bottom: 0.5px solid var(--border-dark);
  margin-bottom: 0;
}
.msg:hover {
  background-color: var(--border-message);
}

.msg:last-child {
  border-bottom: none;
}

#members {
  background-color: var(--main-bg);
  border-right: 0.5px solid var(--border);
  max-width: 15em;
  padding-left: 0;
}

#members h5 {
  margin-left: 1em;
}

#members .meta {
  font-size: 0.75em;
  float: right;
  color: var(--text-light);
}

.you {
  color: var(--theme-hex);
  font-weight: 600;
}

.datetime {
  font-size: 0.75em;
  color: var(--text-light);
}

#members ~ #messages {
  border-left: 0.5px solid var(--border-dark);
}

.joinform-container,
.sending {
  padding: 1em 1.5em;
  border-top: 0.5px solid var(--border-dark);
}
#joinform {
  margin: 0 auto;
  max-width: 30em;
}

#joinform .flex-container > label {
  flex: 9;
}
#joinform .flex-container > input {
  width: 78%;
}

.sending textarea {
  flex: 11;
}

#message-form button .text {
  font-size: 1.75em;
  line-height: 1;
}
#loading {
  display: none;
  width: 24px;
  height: 24px;
}
#loading.active {
  display: inline-block;
}
#loading.active ~ .text {
  display: none;
}
#qr-code-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100vh;
  left: 0;
  background: var(--overlay-bg);
  z-index: -1;
  overflow: hidden;
}

#qr-code-container.active {
  bottom: 0;
  z-index: 5;
  overflow: unset;
}

#qr-code-container .card {
  background-color: var(--main-bg);
  max-width: 20em;
  margin: 10vh auto 0;
  text-align: center;
  padding: 1em 1.5em;
  border-radius: var(--border-radius);
}

#qr-code-container .card img {
  display: unset !important;
  border-radius: var(--border-radius);
}

#qr-code-container .card button {
  padding: 0;
  border: none;
  background: none;
  color: var(--text-dark);
}

@media all and (display-mode: standalone), all and (display-mode: minimal-ui) {
  .only-not-pwa {
    display: none;
  }

  .only-pwa {
    display: unset;
  }

  .sending {
    position: fixed;
    bottom: env(safe-area-inset-bottom, 0);
    left: 0;
    right: 0;
    padding: 1em 0.25em calc(4px + env(safe-area-inset-bottom));
    border-top: none;
  }
}

@media all and (max-width: 640px) {
  .flex-container {
    flex-direction: column;
    gap: 0;
  }

  #members {
    max-width: unset;
    max-height: 3em;
    overflow: hidden;
    border-right: none;
  }
  #members ~ #messages {
    border-left: none;
  }

  #members.active {
    max-height: 7em;
    overflow: auto;
  }

  #joinform .flex-container,
  .sub-header.flex-container,
  #message-form.flex-container {
    flex-direction: row;
    gap: 0.5em;
  }

  #joinform .flex-container > label {
    flex: 11;
  }
  .sending {
    padding: 1em 0.25em calc(4px + env(safe-area-inset-bottom));
  }

  @media all and (max-height: 520px) {
    .room.flex-container {
      height: unset;
    }
  }
}
